@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/* общие */
/* общие */
/* общие */
/* общие */
/* общие */

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
}

img, svg, video {
  display: inline-block;
  vertical-align: top;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.container {
  max-width: 970px;
  margin: 0 auto;
  padding: 0 15px;
}

p {
  color: #6A859C;
  line-height: 1.8;
}

.title-wrapper {
  margin-bottom: 60px;
}


.title {
  margin-bottom: 17px;
  font-size: 30px;
  line-height: 120%;
  letter-spacing: 0.17em;
  text-transform: uppercase;
  color: #676770;
}

.subtitle {
  font-size: 17px;
  line-height: 118%;
  letter-spacing: 0.18em;
  text-transform: uppercase;
  color: #8e8e9c;
}

.common-section {
  text-align: center;
  padding: 80px 0;
}

.common-section--dark {
  background-color: #192024;
}

.common-section--dark * {
  color: #fff;
}

.common-section--dark .subtitle {
  color: #E8E8E8;
}

.hide {
  display: none !important;
}

/* header */
/* header */
/* header */
/* header */
/* header */

.header {
  padding: 20px 0;
  position: fixed;
  width: 100%;
  background-color: #fff;
  top: 0;
  left: 0;
  z-index: 100;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.logo {
  font-size: 25px;
  letter-spacing: 0.16em;
  text-transform: uppercase;
  color: #69b9ff;
}

.header__nav ul {
  display: flex;
}

.header__nav li+li {
  margin-left: 40px;
}

.header__nav a {
  font-size: 16px;
  color: #676770;
  transition: color 0.3s;
}

.header__nav a:hover {
  color: #0082F3;
}

.header__nav a:active {
  color: #0062b6;
}

/* main */
/* main */
/* main */
/* main */
/* main */
/* main */


.main {}


/* welcome */
/* welcome */
/* welcome */
/* welcome */
/* welcome */
/* welcome */




.welcome {
  min-height: 600px;
  background-image: url(img/welcome.jpg);
  background-size: cover;
  background-position: center;
  background-color: #282936;
  color: #ffffff;
  padding: 195px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.welcome__heading {
  margin-bottom: 100px;
  font-size: 59px;
  line-height: 102%;
  letter-spacing: 0.07em;
  text-transform: uppercase;
}

.welcome__links>*+* {
  margin-left: 20px;
}

.link-primary {
  display: inline-block;
  padding: 11px 30px;
  font-size: 16px;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  border-radius: 4px;
  background: #69b9ff;
  transition: background-color 0.3s;
}

.link-primary:hover {
  background-color: #0082F3;
}

.link-primary:active {
  background-color: #003f75;
}

.link {
  display: inline-block;
  padding: 10px 30px;
  font-size: 16px;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  border: 1px solid #fff;
  border-radius: 4px;
  transition: background-color 0.3s, border-color 0.3s;
}

.link:hover {
  background-color: rgb(255, 255, 255, 0.2);
  border-color: rgba(255, 255, 255, 0.5);
}

.link:active {
  background-color: rgb(0, 0, 0, 0.2);
  border-color: rgba(0, 0, 0, 0.5);
}



/* what we do */
/* what we do */
/* what we do */
/* what we do */
/* what we do */
/* what we do */



.about {}

.about .cards-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.about .card {
  padding: 35px 15px 20px;
  border: 1px solid #dcebf7;
  border-radius: 5px;
  max-width: 300px;
}

.about .card img {
  margin-bottom: 20px;
  width: 94px;
  height: 94px;
  object-fit: contain;
}

.about .card h4 {
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0.35em;
  text-transform: uppercase;
  text-align: center;
  color: #676770;
  margin-bottom: 15px;
}


/* common-section */
/* common-section */
/* common-section */
/* common-section */
/* common-section */
/* common-section */


.services .cards-wrapper {
  display: flex;
  justify-content: space-between;
}

.services .card {
  width: 45%;
}

.services .card img {
  margin-bottom: 20px;
}

.services h4 {
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0.35em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.services p {
  font-size: 14px;
  line-height: 179%;
  margin-bottom: 15px;
}



/* tab-section */
/* tab-section */
/* tab-section */
/* tab-section */
/* tab-section */
/* tab-section */

.tab-section {}

.tabs {
  margin-bottom: 50px;
}

.tabs__nav button {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 131%;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  text-align: center;
  color: #fff;

  border-radius: 4px;
  width: 196px;
  height: 21px;

  background: #92a0ad;
}


.tabs__nav button.active {
  background: #2e80b6;
}

.tabs__nav button+button {
  margin-left: 15px;
}

.tabs__item {
  animation: fade 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }

  to {
    opacity: 1;
  }
}

.tabs__item img {
  width: 940px;
  height: 627px;
  margin-bottom: 15px;
}

.tabs__item h4 {
  margin-top: 15px;
  margin-bottom: 15px;

  font-weight: 400;
  font-size: 31px;
  line-height: 116%;
  text-align: center;
  color: #676770;
}

.tabs__item p {
  font-weight: 400;
  font-size: 13px;
  line-height: 192%;
  text-align: center;
  color: #6a859c;
}

.tabs__desc {}

/* footer */
/* footer */
/* footer */
/* footer */
/* footer */
/* footer */

.footer {}

.footer__desc {
  padding: 35px 0;
}

.footer__desc h4 {
  margin-bottom: 25px;

  font-weight: 400;
  font-size: 18px;
  line-height: 111%;
  letter-spacing: 0.22em;
  text-transform: uppercase;
  color: #676770;
}

.footer__desc a {
  font-size: 13px;
  color: #668cad;
}

.footer__desc li {
  height: 30px;
  position: relative;
}

.footer__desc li::before {
  content: "";
  width: 100%;
  height: 1px;

  position: absolute;
  right: 0;
  bottom: 0;

  background-color: #D5D5E0;
}

.footer__desc-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px 40px;
  margin-bottom: 35px;
}

.footer__desc li+li {
  margin-top: 6px;
}

.footer__desc-container>* {
  width: 30%;
  min-width: 220px;
}

.footer__about {}

.footer__links {}


.footer__social li::before {
  width: calc(100% - 34px);
}

.footer__social img {
  margin-right: 10px;
}

.footer__copy {
  padding: 40px 0;
  text-align: center;
  background-color: #383838;
}

.footer__copy p {
  color: #9E9E9E;
}


/* media */
/* media */
/* media */
/* media */
/* media */
/* media */

@media (max-width: 829px) {
  .footer__desc-container {
    justify-content: space-evenly;
  }
}


@media (max-width: 660px) {
  .tabs__nav {
    margin-bottom: 30px;
  }

  .tabs__nav button {
    display: block;
    margin: 0 auto;
  }

  .tabs__nav button+button {
    margin-top: 10px;
    margin-left: auto;
  }
}


@media (max-width: 600px) {
  .services .cards-wrapper {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }

  .services .card {
    width: 80%;
  }

  .title-wrapper {
    margin-bottom: 30px;
  }
}

@media (max-width: 400px) {
  .header__nav li+li {
    margin-left: 15px;
  }

  .welcome__heading {
    font-size: 40px;
    margin-bottom: 50px;
  }

  .welcome__links a {
    display: block;
    width: 80%;
    margin: auto;
  }

  .welcome__links .link-primary {
    margin-bottom: 20px;
  }

  body {
    font-size: 12px;
  }

  .about .card h4 {
    font-size: 16px;
  }

  .services .card h4 {
    font-size: 16px;
  }

  .services .card .link {
    font-size: 14px;
  }

  .tabs__item h4 {
    font-size: 24px;
  }
}